{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div style="background-color: white; padding:20px; margin-top:20px; margin-bottom: 20px; direction: rtl; font-family: 'Entezar1'; word-spacing: 3px;">
        <p class="page-header" style="background:linear-gradient(to right, #330069,#6610c2 ); color: white; font-size: 32px;">پست جدید</p>
        <br>
        <form method="POST" class="post-form" , enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h5>عنوان:</h5>{{ form.title }}
            </div><br>
            <div>
                <h5>متن :</h5>{{ form.text }}
            </div><br>
            <div>
                <h5>تصویر:</h5>{{ form.image }}
            </div>
            <br>
            <h5>دسته بندی:</h5>
            <select class="form-select form-select-m mb-3" aria-label=".form-select-m example" name="categories">
                <option selected>دسته بندی مورد نظر را انتخاب کنید</option>
                {% for category in form.categories %}
                <option value="{{category.id}}">{{category}}</option>
                {% endfor %}
            </select>
            <br>
            <h5>برچسب</h5>
            <select class="form-select form-select-m mb-3" aria-label=".form-select-m example"  name="tag">
                <option selected>برچسب پست خود را انتخاب کنید</option>
                {% for tag in form.tag %}
                    <option value="{{tag.id}}">{{tag}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="save btn btn-secondary">ذخیره</button>
        </form>
    </div>
    
{% endblock %}