{% extends 'blog/base.html' %}
{% block content %}

    {% for post in page_obj %}
        <div class="card" style="display: flex; margin-left: 1rem; margin-bottom: 3rem;
                                                flex-direction: column;
                                                width: clamp(40rem, calc(20rem + 2vw), 15rem);
                                                overflow: hidden;
                                                box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
                                                border-radius: 1em;
                                                background: #ECE9E6; direction: rtl;">
            <div class="card__header">
                <img style="width: 100%; height: 309px; display: block; object-fit: cover; padding-top:12px; border-radius: 1em;"
                    src="{{post.image.url}}" width="600">
            </div>
            <div class="card__body" style="padding: 1rem; display: flex; flex-direction: column; gap: .5rem;">
                
                <span class="tag tag-red" style="align-self: flex-start;
                                                                padding: .25em .75em;
                                                                border-radius: 1em;
                                                                font-size: .75rem; background: #cb2d3e;
                                                                background: linear-gradient(to bottom, #ef473a, #cb2d3e);
                                                                color: #fafafa;">{{ post_tag.subject_tag }}</span>

                
                <p style="font-family: 'Entezar1';word-spacing: 3px; font-size: 26px;">{{post.title}}</p>
                <a href="{% url 'post_detail' pk=post.pk%}"
                    style="color: gray; text-decoration: none; font-family: 'Entezar1'; word-spacing: 3px;">
                    <p>مشاهده جزئیات بیشتر ...</p>
                </a>
            </div>
            <div class="card__footer" style="display: flex;
                                                            padding: 1rem;
                                                            margin-top: auto;">
                <div class="user" style="display: flex; gap: .5rem;">
                    <img src="https://i.pravatar.cc/40?img=3" class="user__image" style="border-radius: 50%; width: 56px;">
                    <div class="user__info">
                        <h5>{{post.auther}}</h5>
                        {% if post.published_date %}
                        <small style="color: #666;">{{post.published_date |date:'d-m-Y'}}</small>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
        <div class="row">
            <ul class="pagination pagination-sm" style="padding: 14px;">
                <li class="page-item">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <!-- <a class="page-link" href="?page=1">&laquo; first</a> -->
                        <a style="color: black; font-family: Entezar1; font-size: large;" class="page-link"
                            href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                        {% endif %}
        
                        <span class="current">
                        <li class="page-item active"><a class="page-link"
                                style="background-color: #470390; height: 43px;">{{page_obj.number }}</a></li>
                        <!-- page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. -->
                        </span>
        
                        {% if page_obj.has_next %}
                        <a style="color: black; font-family: Entezar1; font-size: large;" class="page-link"
                            href="?page={{ page_obj.next_page_number }}">بعدی</a>
                        <!-- <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
                        {% endif %}
                    </span>
                </li>
            </ul>
        </div>
{%endblock%}