{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <!-- <article class="post" style="background-color: white; padding:20px; margin-top:20px; height: 60%; margin-bottom: 30px;">
            <p class="date">
                created: {{ post.created_date|date:'d-m-Y' }}
            </p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </article> -->

            <section class="dark-grey-text" style="direction: rtl;">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-xl-4">
                        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                            <img src="{{post.image.url | default_if_none:'#' }}" style ="width: 415px; height: 230px;">
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <p class="font-weight-bold mb-3" style="font-family: 'Entezar1'; font-size:32px; word-spacing: 3px;"><strong><a href="{% url 'post_detail' pk=post.pk %}" style="color: #470390 ;text-decoration:none;">{{ post.title}}</a></strong></p>
                        <p class="dark-grey-text">{{ post.text|truncatechars:200 }}</p>
                        <br>
                        <p style="font-family: 'Entezar1'; font-size:16px; word-spacing: 3px;">توسط <strong>{{post.auther}}</strong>، ایجاد شده : {{ post.created_date|date:'d-m-Y' }}</p>
                    </div>
                </div>
                <hr class="my-5">
            </section>
    {% endfor %}
{% endblock %}


